<div class="container" >
    <div class="box">
<button class="icon-chevron-left" (click)="goBack()"></button>
<!-- <img src="/assets/beans.png" alt="beans"> -->
<button class="icon-heart"></button></div>


<div class="parent">
    <div class="div1">Robusta Beans <br>
    <p>From Africa</p>
    </div>
    <div class="div2"><div class="icon-coffee"><br>Bean</div></div>
    <div class="div3"><div class="icon-location"><br>Africa</div></div>
    <div class="div4"><p class="icon-star price">4.5 <span>(6,879)</span></p></div>
    <div class="div5">Medium Roasted</div>
</div>
</div>
<app-description></app-description>
<app-size></app-size>
<app-price></app-price>